.device_details__image {
    width: 50%;
    height: 380px;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 414px) {
        width: 100%;
    }

    img {
        height: 100%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}