@import '../../variables.scss';

.modes {
    width: 100%;
    h5 {
        margin-bottom: 1rem;
    }
}

.modes__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        color: $black;
    }
}