@import '../../variables.scss';

.device-details-header {
    width: 100%;
    padding: 1rem 0;
    background-color: $primary;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0px 4px 8px 0px rgba($black, .4);
    color: $white;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.action-btn {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border: none;
    background: none;
    color: $white;
    cursor: pointer;
    padding: .6rem 1rem;
    opacity: 0.75;
    transition: opacity linear .3s, background linear .3s;

    &:hover {
        opacity: 1;
    }
}