@import '../../variables.scss';

.header {
    width: 100%;
    padding: 1rem 0;
    background-color: $primary;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 4px 8px 0px rgba($black, .4);

    h6 {
        color: $white
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.search {
    display: flex;
    align-items: center;
}

.search__input {
    height: 32px;
    width: 200px;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 1rem;
    background-color: rgba($white, .3);
    color: $white;
    font-size: 1rem;

    &::placeholder {
        color: $white;
        font-size: 1rem;
    }
}

.search__btn {
    background: rgba($white, .3);
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 0 4px 4px 0;
    color: $white;
}