@import '../../variables.scss';

.temperature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        width: 30px;
        text-align: center;
    }
}

.temperature__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.edit_box {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.textfield {
    width: 22%;
}