@import '../../variables.scss';

.add_device_dialog__inner {
    background-color:$white;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0px 24px 48px 0px rgba($black, .4);
}

.form {
    max-width: 800px;
}

.row {
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 1rem;
    &:last-child {
        text-align: right;
    }
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
}