@import '../../variables.scss';

.collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
  }

.fab {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 0;
}

.filter {
  margin-bottom: 2rem;
}

.pagination_buttons {
  text-align: center;
  margin-top: 2rem;
}