@import '../../variables.scss';

.collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
  }

.fab {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 100;
    background-color: $primary;
    color: $white;
    border: none;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0px 16px 16px 0px rgba($black, .4);
}

.filter {
  margin-bottom: 2rem;
}